.review-container {
  padding: 0 15px;
}

.review-header {
  margin-bottom: 10px;
}

#filter {
  margin-left: 4px;
  color: black;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
       left: 0;
  }
}
